/* ========================== Component Name ========================== */
$component: .features-30;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply relative w-full mx-auto px-12 py-24 max-w-screen-xxl text-wire-dark bg-wire-light;
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 2rem;
    background-color: white;
    grid-auto-rows: minmax(min-content, max-content);
  }

  &__copy + &__image {
    margin-top: 2rem;
  }

  &__copy {
    grid-area: 1 / 1 / span 1 / span 1;
    align-self: center;
  }

  &__image {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
  }

  &__accordion {
    margin-top: 2rem;
  }

  &__accordion-row {
    padding: 1rem 0;
    @apply border-b border-wire-light;
    transition: border-color 0.5s;

    &:hover {
      cursor: pointer;
      @apply border-wire-dark;
    }
  }

  &__accordion-title {
    svg {
      display: inline-block;
      position: absolute;
      right:0;
      top: 50%;
      transform: translatey(-50%);
    }
  }

  &__accordion-text {
    display: none;
    margin-top: 1rem;
    @apply text-wire-gray;
  }

  .minus {
    opacity: 1;
    transition: opacity 0.5s;
  }

  /* ========================== Modifiers ========================== */

  &__accordion-row--active {
    $(component)__accordion-text {
      display: inline-block;
    }

    .minus {
      opacity: 0;
    }
  }
  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__wrap {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }

    &__copy + &__image {
      margin-top: 0;
    }

    &__copy {
      grid-area: 1 / 1 / span 1 / span 5;
    }

    &__image {
      grid-area: 1 / 7 / span 1 / span 6;
    }

    &.flip--h &__copy {
      grid-area: 1 / 8 / span 1 / span 5;
    }

    &.flip--h &__image {
      grid-area: 1 / 1 / span 1 / span 6;
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {
  
  $(component)__wrap {
    
  }
}
